
/* MAIN HEADER DIV */
.header-header {
  --header-background-color: #333;
  --header-text-color: white;
  --navbar-link-hover-color: #555;
  --mobile-menu-background-color:#c02b2b;
  --mobile-menu-text-color: white;

  background-color: var(--header-background-color);
  color: var(--header-text-color);
  font-family: 'Inter', sans-serif;
}



/* DESKTOP HEADER DIV */
.header {
  font-family: 'Inter', sans-serif;
}
  
.header-navbar ul li a {
  @apply px-2 py-4 rounded-3xl text-2xl no-underline transition-all duration-75 ease-out;  
  color: var(--navbar-text-color);
}
  
.header-navbar ul li a:hover {
    background-color: var(--navbar-link-hover-color);
}


/* MOBILE HEADER DIV */
.mobile-header {
    color: var(--navbar-text-color);
  }
  
  .mobile-menu {
    background-color: var(--mobile-menu-background-color);
    color: var(--mobile-menu-text-color);
  }

  .mobile-menu > button {
    @apply mb-6;
  }
  
  .mobile-menu ul {
    @apply p-0 m-0 flex flex-col gap-2;
  }
  
  .mobile-menu li {
    @apply mb-4;
  }
  
  .mobile-menu a {
    @apply no-underline px-2 py-4 text-xl;
    color: var(--mobile-menu-text-color);
  }

/* ACTIVE HEADER LINK STYLE */ 

.header-active {
  @apply overflow-hidden no-underline border-r-4 border-l-4 border-yellow-500 font-bold text-orange-400;
}
  